body{
    background-color: lightgrey;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


ul{
    list-style-type: none;
    margin:0;
    padding:0;
    
}

.f-links{
    display: inline;
    text-decoration: none;
    color: white;
}